@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-marquee: marquee 40s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%); /* No quotes around transform value */
    }
    100% {
      transform: translateX(-100%); /* No quotes around transform value */
    }
  }
}
/* body {
  background-color: #111827;
} */
* {
  font-family: "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

@layer utilities {
  .swiper-pagination-bullet {
    background-color: #2563eb !important;
    /* opacity: 0.5;
    transition: all 0.3s ease; */
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .dark .swiper-pagination-bullet {
    background-color: #133cd0 !important;
  }
}
